<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/product"
        android:label="@string/app_name"
        android:roundIcon="@drawable/product"
        android:supportsRtl="true"
        android:theme="@style/Theme.MECA">
        <activity
            android:name=".AllListMaintainActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.meca.DevicesActivity" />
        </activity>
        <activity
            android:name=".InfoDeviceActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.meca.DevicesActivity" />
        </activity>
        <activity
            android:name=".BasicInfoActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.meca.DevicesActivity" />
        </activity>
        <activity
            android:name=".ViewpdfActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.meca.DevicesActivity" />
        </activity>
        <activity
            android:name=".MaintenanceActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.meca.DevicesActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanActivity"
            android:exported="false" />
        <activity
            android:name=".DevicesActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.meca.ScanActivity" />
        </activity>
    </application>

</manifest>